@import "reset.css"
#app
  width  100%
  height  100%
  #content
    //background-color #9a6e3a
    width  100%
    height 100%
    padding-bottom 50px
    box-sizing border-box
    .main
      display none
      &.show
        display block
    #home
      height 10000px
      background-color #eee
      #header
        position fixed
        width 100%
        background-color #ffffff
        z-index 99
        .header_search
          height 100%
          width 100%
          padding-bottom 10px
          img
            width 80px;
            height 20px;
            margin 8px 12px -4px 11px
          .search
            display inline-block
            background #ededed
            height 25px
            .iconfont
              position absolute
              top 11px
              color green
            p
              margin 0px 5px 0px 15px
              text-align center
              line-height 25px
          .login
            width 40px
            height 20px
            display inline-block
            text-align center
            line-height 20px
            font-size 14px
            color #b4282d
            border 1px solid #eee
            border-radius 3px
        .nav
          display inline-block
          .nav-list
            display inline-block
            li
              float left
              margin 0px 10px 5px 15px
              color #9a6e3a
          span
            position absolute
            top 40px
            right 10px
      .swiper-container
        padding 70px 0px 0px 0px
        width 100%
        height 200px
        background-color #fff
        img
          width 100%
          height 100%
      .brand
        padding 10px
        background-color #fff
        span
          font-size 14px
          margin 0px 5px 0px 10px
          .iconfont
            font-size 14px
      .category
        display flex
        flex-wrap wrap
        background-color #fff
        .categoryItem
          width 20%
          height 72px
          display flex
          align-items center
          justify-content space-around
          flex-direction column
          img
            width 50px
            height 50px
          span
            font-size 13px
            color #02a774
      .card_boon
        padding-top 10px
        margin-top 15px
        background-color #fff
        .title
          display block
          font-size 18px
          color red
          text-align center
        .link
          display inline-block
          margin 10px 10px 10px 10px
          overflow hidden
          .left
            width 150px
            height 203px
            float left
            background-color #F9E9CF
            span
              padding 15px 0px 15px 15px
              display block
            img
              width 120px
              height 120px
              margin 15px
          .right_top
            margin-left 3px
            float right
            width 200px
            display flex
            justify-content space-between
            background-color #F9E9CF
            .text
              display inline-block
              padding 10px 10px
              .p1
                font-size 16px
              .p2
                font-size 14px
                color #7F7F7F
            img
              width 100px
              height 100px
          .right_bottom
            margin 3px 0px 0px 3px
            float right
            width 200px
            display flex
            justify-content space-between
            background-color #F9E9CF
            .text
              display inline-block
              padding 10px 10px
              .p1
                font-size 16px
              .p2
                margin-top 3px
                width 60px
                height 18px
                line-height 18px
                text-align center
                font-size 10px
                color #fff
                background-color #CBB693
            img
              width 100px
              height 100px
      .manufacturer
        background-color #fff
        margin-top 10px
        .top
          padding-top 10px
          .china
            padding 0px 10px
          .more
            float right
            font-size 14px
        .list
          display flex
          flex-wrap wrap
          .item
            position relative
            width 50%
            height 150px
            display flex
            align-items center
            justify-content space-around
            flex-direction column
            .item_top
              position absolute
              top 20px
              span
                font-size 13px
                color #02a774
            img
              width 170px
              height 130px



      .type
        background-color #fff
        margin-top 10px
        span
          padding 0px 10px
          display flex
          align-items center
          width 150px
          height 31px
        .top
          display flex
          justify-content space-between
          padding 15px
          width 100%
          height 100%
          box-sizing border-box
          .left
            background-color #F9F3E4
            width 165px
            height 100px
            display flex
            justify-content space-between
            align-items center
            .text
              width 100px
              height  15px
            .img
              width 100px
              height 100px
              img
                width 100%
                height 100%
          .right
            background-color #EBEFF6
            width 165px
            height 100px
            display flex
            justify-content space-around
            align-items center
            .text
              width 100px
              height  15px
            .img
              width 100px
              height 100px
              img
                width 100%
                height 100%
        .bottom
          box-sizing border-box
          display flex
          flex-wrap wrap
          background-color #fff
          .bottom_item
            box-sizing border-box
            margin 0px 0px 5px 12px
            background-color #F5F5F5
            width 21%
            height 72px
            display flex
            align-items center
            justify-content space-around
            flex-direction column
            img
              width 50px
              height 50px
            span
              justify-content center
              font-size 13px
              color #02a774
    #class
      .input
        display flex
        align-items center
        justify-content center
        width 90%
        height 25px
        background-color #ededed
        margin 8px 19px
        .iconfont
          font-size 14px
        span
          font-size 16px
          color #666

    #shop_cart
      background-color #f4f4f4
      height 100%
      .shop_cart-container
        position relative
        height 100%
        .shop_cart-header
          display flex
          justify-content space-between
          align-items center
          height 25px
          padding 10px 20px
          background-color #fff
          span
            font-size 18px
            color #333333
          a
            width 90px
            height 30px
            font-size 16px
            line-height 30px
            text-align right
        .shop_cart-main
          .shop_cart-list
            display flex
            justify-content space-between
            align-items center
            height 30px
            padding 0 10px
            .cart-item
              display flex
              align-items center
              font-size 12px
              color #666
              i
                width 10px
                height 10px
                font-size 10px
                margin-right 10px
          .shop_cart-img
            position absolute
            top 165px
            left 50%
            transform translate(-50%, 50%)
            width 150px
            height 150px
          .add-loginBtn
            position absolute
            top 369px
            left 74px
            .goto-add
              display block
              font-size 14px
              color #999
              margin-bottom 15px
              text-align center
            .login-btn
              width 230px
              height 40px
              text-align center
              line-height 40px
              background-color red
              a
                font-size 16px
                color #fff
    #personal
      background-color #f4f4f4
      height 100%
      .header
        background-color #fff
        width 100%
        height 40px
        display flex
        justify-content space-between
        align-items center
        .left
          font-size 23px
          margin-left 5px
        img
          width 80px
          height 25px
          margin 3px 0px 0px 15px
        .right
          .iconfont
            font-size 25px
            margin-right 9px
      .personal_container
        position relative
        .wy_logo
          position absolute
          top 85px
          left 120px
          width 130px
          height 50px
          img
            width 100%
            height 100%
        .user_login
          position absolute
          top 250px
          left 45px
          .phone_login
            width 300px
            height 40px
            text-align center
            line-height 40px
            background-color red
            margin-bottom 18px
          .e-mail_login
            width 298px
            height 40px
            text-align center
            line-height 40px
            border 1px solid red
        .personal_list
          position absolute
          top 550px
          left 88px
          width 200px
          height 20px
          display flex
          flex-wrap nowrap
          justify-content space-between
          .personal_item
            width 33%
            text-align center
            color #7F7F7F
            border-right 1px solid #979797
          :last-child
            border-right none
#footer
    position fixed
    left 0
    bottom 0
    width 100%
    height 50px
    display flex
    background-color #fff
    .footerItem
      width 25%
      height 100%
      display flex
      flex-direction column
      align-items center
      justify-content center
      color #7e8c8d
      &.active
        color green
      .iconfont
        font-size 22px
      span
        font-size 12px



