@import "reset.css";
#app {
  width: 100%;
  height: 100%;
}
#app #content {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
}
#app #content .main {
  display: none;
}
#app #content .main.show {
  display: block;
}
#app #content #home {
  height: 10000px;
  background-color: #eee;
}
#app #content #home #header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
#app #content #home #header .header_search {
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}
#app #content #home #header .header_search img {
  width: 80px;
  height: 20px;
  margin: 8px 12px -4px 11px;
}
#app #content #home #header .header_search .search {
  display: inline-block;
  background: #ededed;
  height: 25px;
}
#app #content #home #header .header_search .search .iconfont {
  position: absolute;
  top: 11px;
  color: #008000;
}
#app #content #home #header .header_search .search p {
  margin: 0px 5px 0px 15px;
  text-align: center;
  line-height: 25px;
}
#app #content #home #header .header_search .login {
  width: 40px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #b4282d;
  border: 1px solid #eee;
  border-radius: 3px;
}
#app #content #home #header .nav {
  display: inline-block;
}
#app #content #home #header .nav .nav-list {
  display: inline-block;
}
#app #content #home #header .nav .nav-list li {
  float: left;
  margin: 0px 10px 5px 15px;
  color: #9a6e3a;
}
#app #content #home #header .nav span {
  position: absolute;
  top: 40px;
  right: 10px;
}
#app #content #home .swiper-container {
  padding: 70px 0px 0px 0px;
  width: 100%;
  height: 200px;
  background-color: #fff;
}
#app #content #home .swiper-container img {
  width: 100%;
  height: 100%;
}
#app #content #home .brand {
  padding: 10px;
  background-color: #fff;
}
#app #content #home .brand span {
  font-size: 14px;
  margin: 0px 5px 0px 10px;
}
#app #content #home .brand span .iconfont {
  font-size: 14px;
}
#app #content #home .category {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
#app #content #home .category .categoryItem {
  width: 20%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#app #content #home .category .categoryItem img {
  width: 50px;
  height: 50px;
}
#app #content #home .category .categoryItem span {
  font-size: 13px;
  color: #02a774;
}
#app #content #home .card_boon {
  padding-top: 10px;
  margin-top: 15px;
  background-color: #fff;
}
#app #content #home .card_boon .title {
  display: block;
  font-size: 18px;
  color: #f00;
  text-align: center;
}
#app #content #home .card_boon .link {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  overflow: hidden;
}
#app #content #home .card_boon .link .left {
  width: 150px;
  height: 203px;
  float: left;
  background-color: #f9e9cf;
}
#app #content #home .card_boon .link .left span {
  padding: 15px 0px 15px 15px;
  display: block;
}
#app #content #home .card_boon .link .left img {
  width: 120px;
  height: 120px;
  margin: 15px;
}
#app #content #home .card_boon .link .right_top {
  margin-left: 3px;
  float: right;
  width: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #f9e9cf;
}
#app #content #home .card_boon .link .right_top .text {
  display: inline-block;
  padding: 10px 10px;
}
#app #content #home .card_boon .link .right_top .text .p1 {
  font-size: 16px;
}
#app #content #home .card_boon .link .right_top .text .p2 {
  font-size: 14px;
  color: #7f7f7f;
}
#app #content #home .card_boon .link .right_top img {
  width: 100px;
  height: 100px;
}
#app #content #home .card_boon .link .right_bottom {
  margin: 3px 0px 0px 3px;
  float: right;
  width: 200px;
  display: flex;
  justify-content: space-between;
  background-color: #f9e9cf;
}
#app #content #home .card_boon .link .right_bottom .text {
  display: inline-block;
  padding: 10px 10px;
}
#app #content #home .card_boon .link .right_bottom .text .p1 {
  font-size: 16px;
}
#app #content #home .card_boon .link .right_bottom .text .p2 {
  margin-top: 3px;
  width: 60px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  background-color: #cbb693;
}
#app #content #home .card_boon .link .right_bottom img {
  width: 100px;
  height: 100px;
}
#app #content #home .manufacturer {
  background-color: #fff;
  margin-top: 10px;
}
#app #content #home .manufacturer .top {
  padding-top: 10px;
}
#app #content #home .manufacturer .top .china {
  padding: 0px 10px;
}
#app #content #home .manufacturer .top .more {
  float: right;
  font-size: 14px;
}
#app #content #home .manufacturer .list {
  display: flex;
  flex-wrap: wrap;
}
#app #content #home .manufacturer .list .item {
  position: relative;
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#app #content #home .manufacturer .list .item .item_top {
  position: absolute;
  top: 20px;
}
#app #content #home .manufacturer .list .item .item_top span {
  font-size: 13px;
  color: #02a774;
}
#app #content #home .manufacturer .list .item img {
  width: 170px;
  height: 130px;
}
#app #content #home .type {
  background-color: #fff;
  margin-top: 10px;
}
#app #content #home .type span {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  width: 150px;
  height: 31px;
}
#app #content #home .type .top {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#app #content #home .type .top .left {
  background-color: #f9f3e4;
  width: 165px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app #content #home .type .top .left .text {
  width: 100px;
  height: 15px;
}
#app #content #home .type .top .left .img {
  width: 100px;
  height: 100px;
}
#app #content #home .type .top .left .img img {
  width: 100%;
  height: 100%;
}
#app #content #home .type .top .right {
  background-color: #ebeff6;
  width: 165px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#app #content #home .type .top .right .text {
  width: 100px;
  height: 15px;
}
#app #content #home .type .top .right .img {
  width: 100px;
  height: 100px;
}
#app #content #home .type .top .right .img img {
  width: 100%;
  height: 100%;
}
#app #content #home .type .bottom {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
#app #content #home .type .bottom .bottom_item {
  box-sizing: border-box;
  margin: 0px 0px 5px 12px;
  background-color: #f5f5f5;
  width: 21%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#app #content #home .type .bottom .bottom_item img {
  width: 50px;
  height: 50px;
}
#app #content #home .type .bottom .bottom_item span {
  justify-content: center;
  font-size: 13px;
  color: #02a774;
}
#app #content #class .input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 25px;
  background-color: #ededed;
  margin: 8px 19px;
}
#app #content #class .input .iconfont {
  font-size: 14px;
}
#app #content #class .input span {
  font-size: 16px;
  color: #666;
}
#app #content #shop_cart {
  background-color: #f4f4f4;
  height: 100%;
}
#app #content #shop_cart .shop_cart-container {
  position: relative;
  height: 100%;
}
#app #content #shop_cart .shop_cart-container .shop_cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding: 10px 20px;
  background-color: #fff;
}
#app #content #shop_cart .shop_cart-container .shop_cart-header span {
  font-size: 18px;
  color: #333;
}
#app #content #shop_cart .shop_cart-container .shop_cart-header a {
  width: 90px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .shop_cart-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0 10px;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .shop_cart-list .cart-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .shop_cart-list .cart-item i {
  width: 10px;
  height: 10px;
  font-size: 10px;
  margin-right: 10px;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .shop_cart-img {
  position: absolute;
  top: 165px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 150px;
  height: 150px;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .add-loginBtn {
  position: absolute;
  top: 369px;
  left: 74px;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .add-loginBtn .goto-add {
  display: block;
  font-size: 14px;
  color: #999;
  margin-bottom: 15px;
  text-align: center;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .add-loginBtn .login-btn {
  width: 230px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f00;
}
#app #content #shop_cart .shop_cart-container .shop_cart-main .add-loginBtn .login-btn a {
  font-size: 16px;
  color: #fff;
}
#app #content #personal {
  background-color: #f4f4f4;
  height: 100%;
}
#app #content #personal .header {
  background-color: #fff;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app #content #personal .header .left {
  font-size: 23px;
  margin-left: 5px;
}
#app #content #personal .header img {
  width: 80px;
  height: 25px;
  margin: 3px 0px 0px 15px;
}
#app #content #personal .header .right .iconfont {
  font-size: 25px;
  margin-right: 9px;
}
#app #content #personal .personal_container {
  position: relative;
}
#app #content #personal .personal_container .wy_logo {
  position: absolute;
  top: 85px;
  left: 120px;
  width: 130px;
  height: 50px;
}
#app #content #personal .personal_container .wy_logo img {
  width: 100%;
  height: 100%;
}
#app #content #personal .personal_container .user_login {
  position: absolute;
  top: 250px;
  left: 45px;
}
#app #content #personal .personal_container .user_login .phone_login {
  width: 300px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #f00;
  margin-bottom: 18px;
}
#app #content #personal .personal_container .user_login .e-mail_login {
  width: 298px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #f00;
}
#app #content #personal .personal_container .personal_list {
  position: absolute;
  top: 550px;
  left: 88px;
  width: 200px;
  height: 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#app #content #personal .personal_container .personal_list .personal_item {
  width: 33%;
  text-align: center;
  color: #7f7f7f;
  border-right: 1px solid #979797;
}
#app #content #personal .personal_container .personal_list :last-child {
  border-right: none;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #fff;
}
#footer .footerItem {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7e8c8d;
}
#footer .footerItem.active {
  color: #008000;
}
#footer .footerItem .iconfont {
  font-size: 22px;
}
#footer .footerItem span {
  font-size: 12px;
}
